/* zephirum - symbols and math */
@font-face {
	font-family: "zephirum";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(https://cdn.jsdelivr.net/gh/rastislavcore/zephirum/Zephirum-Regular.ttf) format("truetype");
	unicode-range: U+2190-22FF, U+25A0-25FF, U+2600-26FF;
}
